/* Global */
.container {
  margin: 0 auto;
  width: 72%;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

.selected {
  border-bottom: 2px solid white;
}
/* Showcase */
.topbar {
  color: #FFFDFD;
  font-family: 'Cabin', sans-serif;
}

.branding {
  display: inline-block;
}

.branding h1 {
  border-bottom: 2px solid white;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 27px;
}

.navbar {
  display: inline-block;
  float: right;
}

.navbar ul {
  list-style: none;
  text-align: right;
}

.navbar li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #FFFDFD;
  padding: 10px;
  font-size: 13px;
  font-family: 'Cabin', sans-serif;
}

.navbar a:hover {
  color: yellow;
}

.showcase {
  background: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/contact-food.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: center;
}

.showcase-head {
  text-align: center;
  color: white;
  margin-top: 200px;
}

.showcase-head h1 {
  font-family: 'Great Vibes', cursive;
  margin: 0;
  font-size: 65px;
  color: #C49E5F;
}

.showcase-head h2 {
  margin: 0 0 5px 0;
  font-size: 40px;
  letter-spacing: 14px;
  font-family: arial;
  font-weight: 100;
}

.showcase-head p {
  margin: 0;
  font-size: 18px;
  font-family: arial;
  font-weight: 100;
}

/* Online */

.online {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}

.online p, .online h1 {
  padding: 10px 0 0 0;
  margin: 0;
  color: #262526;
}

.online h1 {
  font-size: 20px;
  font-weight: normal;
}

.online p {
  font-size: 10px;
}

.table {
  margin-top: 30px;
}

.table input {
  margin: 0 20px 0 20px;
  padding: 10px;
}

.date, .time, .ppl {
  display: inline-block;
}

.sub {
  display: block;
  margin-top: 20px;
}

#goo {
  padding: 8px 30px;
  background-color: #515150;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 12px;
}


/* Fat */
.leftgood {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-right: 10px;
}

.rightgood {
  display: inline-block;
  width: 45%;
}


.textmans {
  margin: 30px 0 30px 0;
}

.foot {
  border: none;
}

/* Good */

.mid-good {
  height: 600px;
  background: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/vk-drinking.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* Us */

.us {
  text-align: center;
  padding: 40px;
  background-color: #C59D5F;
  margin-bottom: 30px;
  color: white;
  margin-top: 40px;
}



/* Footer */

.topfoot {
  padding: 40px 0 40px 0;
  background-color: #121013;
  color: #FFFFFF;
  font-family: 'Cabin', sans-serif;
  min-height: 110px;
}



.leftfoot {
  display: inline-block;
  width: 45%;
}

.leftfoot p {
  vertical-align: top;
}

.leftbottom {
  display: inline-block;
  width: 30%;
}

.leftbottom2 {
  display: inline-block;
  width: 30%;
}

.rightfoot {
  display: inline-block;
  width: 45%;
}

.rightbottom {
  display: inline-block;
  width: 30%;
}

.rightbottom2 {
  display: inline-block;
  width: 30%;
}

.rightbottom3 {
  display: inline-block;
  width: 30%;
}

/* Bottom Footer */

.bottomfoot {
  background-color: #303030;
  color: #AAAAAC;
  min-height: 70px;
}

.footer1 {
  display: inline-block;
  width: 49%;
  margin-top: 30px;
  vertical-align: top;
}

.footer2 {
  display: inline-block;
  width: 49%;
  text-align: right;
  margin-top: 30px;
}


/* Good Mans */

.goodstink {
  margin: 20px 0 20px 0;
  min-height: 600px;
}


.left-mans {
  display: inline-block;
  width: 45%;
  text-align: center;
  margin-right: 20px;
}

.left-mans h1, .right-mans h1 {
 font-family: 'Great Vibes', cursive;
 font-size: 50px;
 margin: 0;
}


.left-mans h2, .right-mans h2 {
  margin-top: 0;
}

.right-mans {
  display: inline-block;
  width: 45%;
  text-align: center;
}

.seat {
  margin: 20px 0 20px 0;
  font-weight: bold;
}

.left-mans img{
  width: 100%;
  height: 50%;
  margin-top: 10px;
}

.right-mans img {
  width: 100%;
  height: 50%;
  margin-bottom: 10px
}



/* Media Queries */
@media (max-width: 1024px) {
  .primary {
    display: block;
    width: 100%;
  }
  img  {
    vertical-align: none;
    width: 100%;
    text-align: center;
}
  .navbar {
    display: block;
    width: 100%;
  }

  .branding {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navbar li {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
  }

.navbar a {
  padding: 5px;;
}

.navbar ul {
  text-align: center;
  padding: 0;
}

.branding h1 {
  margin-top: 0;
}

.secondary {
  width: 100%;
}

.primary p {
  padding: 0;
}

.left-side {
  width: 100%;
  margin: 0;
}

.left-side img {
  margin: 0;
  margin: 10px auto;
  width: 90%;
}

.row1 img, .row2 img {
  width: 45%;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.right-side {
  width: 100%;
  margin: 0;
}

.food {
  margin: 0 auto;
}

.leftculn {
  display: block;
  width: 100%;
}
.rightculn {
  margin-top: 5%;
  display: block;
  width: 100%;
}

.rightculn img {
  width: 70%;
  margin-top: 2.5%;
}

.leftbottom, .leftbottom2 {
  width: 48%;
}

.leftfoot, .rightfoot {
  display: block;
  width: 100%;
}


.left-mans {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.right-mans {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.showcase-head
{
  text-align: center;
  margin: 0 auto;
}
.showcase-head h2{
  letter-spacing: 0px;
}


.leftgood {
  display: block;
  width: 100%;
}

.rightgood {
  display: block;
  width: 100%;
}

.date, .time, .ppl {
  display: block;
  margin-top: 10px;
}

.showtext h2 {
  font-size: 30px;
}

}
